<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @movie.titre %>
</p>

<p>
  <strong>Description:</strong>
  <%= @movie.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @movie.user_id %>
</p>

<p>
  <strong>Statut:</strong>
  <%= @movie.statut %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
